* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  justify-content: space-around;
  background-size: cover;
}

.review-container {
  display: flex;
  position: relative;
  min-width: 900px;
  min-height: 585px;
  margin-top: 3rem;
}
.active .review-container .reviewForm {
  background-color: #000016 !important;
}

.review-container .reviewInfo {
  position: absolute;
  top: 60px;
  left: -90px;
  width: 350px;
  height: calc(100% - 80px);
  background: white;
  background-image: url("../../assets/review.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  background-color: #f5f0f0;
  border: 2px solid #eae8e4;
  border-radius: 30px;
}

.review-container .reviewInfo h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.review-container .reviewInfo ul.info {
  position: relative;
  margin: 20px 0;
}

.review-container .reviewInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.review-container .reviewInfo ul.info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

/* for gmail */
.review-container .reviewInfo ul.info li span a {
  color: #fff;
  text-decoration: none;
  width: 30px;
  min-width: 30px;
}

.review-container .reviewInfo ul.info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
}

.review-container .reviewInfo ul.info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
}

.review-container .reviewInfo ul.sci {
  position: relative;
  display: flex;
}

.review-container .reviewInfo ul.sci li {
  list-style: none;
  margin-right: 15px;
}

.review-container .reviewInfo ul.sci li a {
  text-decoration: none;
}

.review-container .reviewInfo ul.sci li a img {
  filter: invert(1);
}

.review-container .reviewForm {
  position: absolute;
  padding: 60px 60px;
  padding-left: 350px;
  margin-left: 50px;
  width: calc(100% - 150px);
  height: 100%;
  background: #fff;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
  background-color: #eafdff;
  border: 2px solid #00dada;
  border-radius: 22px;
}

.review-container .reviewForm h2 {
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
  padding-top: 15px;
}

.review-container .reviewForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
}

.review-container .reviewForm .formBox .inputBox {
  position: relative;
  margin-bottom: 15px;
}
.active .review-container .reviewForm .formBox .inputBox input {
  background-color: #000016 !important;
  color: white;

}
.active .review-container .reviewForm .formBox .inputBox textarea {
  background-color: #000016 !important;
  color: white;
}
.review-container .reviewForm .formBox .inputBox.w50 {
  width: 47%;
}

.review-container .reviewForm .formBox .inputBox.w100 {
  width: 100%;
}

.review-container .reviewForm .formBox .inputBox input,
.review-container .reviewForm .formBox .inputBox textarea {
  width: 100%;
  margin-top: 5px;
  padding: 8px 4px;
  font-size: 15px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border: 1px solid #eae8e4;
  border-radius: 5px;
}

.review-container .reviewForm .formBox .inputBox textarea {
  height: 150px;
}

.review-container .reviewForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.review-container .reviewForm .formBox .inputBox input:focus ~ span,
.review-container .reviewForm .formBox .inputBox input:valid ~ span,
.review-container .reviewForm .formBox .inputBox textarea:focus ~ span,
.review-container .reviewForm .formBox .inputBox textarea:valid ~ span,
.review-container
  .reviewForm
  .formBox
  .inputBox.w50
  input[type="email"]:not(:placeholder-shown)
  ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #095a55;
  font-weight: 500;
}

/* Css for the submit button */
.review-container .reviewForm .formBox .inputBox input[type="submit"] {
  position: relative;
  background: #2b394a;
  border-radius: 20px;
  color: #fff;
  border: black;
  font-weight: 500;
  max-width: 200px;
  padding: 12px;
  padding: 20px 20px;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 2px;
  text-align: center;
}

.review-container .reviewForm .formBox .inputBox input[type="submit"]:hover {
  background: #00dada;
  color: black;
}

/* make the form responsive */
@media (max-width: 1330px) {
  .review-container {
    min-width: auto;
    width: 80%;
    margin: 3rem auto;
  }

  .review-container .reviewInfo {
    width: 300px; /* Adjust as needed */
    left: -75px; /* Adjust positioning to keep it centered */
  }

  .review-container .reviewForm {
    width: calc(100% - 350px); /* Adjust as needed */
    padding-left: 300px; /* Adjust to match the new width of .reviewInfo */
  }
}

@media (max-width: 991px) {
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section::before {
    display: none;
  }

  .review-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .review-container .reviewForm {
    width: calc(100% - 150px); /* Adjust as needed */
    padding-left: 60px; /* Adjust to match the new width of .reviewInfo */
    border-radius: 22px;
    top: 5px;
  }

  .review-container .reviewInfo {
    display: none; /* Hide the image container */
  }

  .review-container .reviewInfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .review-container .reviewForm {
    padding: 50px 50px 150px 50px;
  }

  .review-container .reviewInfo {
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
  }

  .review-container .reviewInfo ul.sci {
    margin-top: 40px;
  }

  .review-container .reviewForm .formBox .inputBox.w50 {
    width: 100%;
  }

  .review-container .reviewForm .formBox .inputBox input[type="submit"] {
    letter-spacing: 0;
    padding: 15px 1px;
  }
}

@media (max-width: 400px) {
  .review-container .reviewForm {
    padding: 50px 40px 200px 40px;
    
  }
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
}

label {
  margin-bottom: 0.4rem;
}
