.title{
    display: flex;
    justify-content: center;
   
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 100px;

}

.card {
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;

               display: -webkit-box;
               display: -ms-flexbox;
               display: flex;
               -webkit-box-align: start;
               -ms-flex-align: start;
               align-items: flex-start;
               -ms-flex-wrap: wrap;
               flex-wrap: wrap;
             
               padding: 50px 0;
  }

  /* mobile device viewers */
  @media only screen and(max-width: 767px) {
    .card{
       width: calc(100% - 20px);
    }
  }
  /* tablets viewer */
 

  /*  laptop and large screen viwer*/
  @media only screen and (min-width: 1024px){
    .card{
        width: calc(50%-20px);
       
    }
    
  } 
    
  