.title{
    display: flex;
    justify-content: center;
  
}
.content{
  height: auto;
}
.background{
  margin: 20px 15px;
  
  border-radius: 10px;
  
  box-shadow: 5px 5px 10px #bebebe;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-bottom: 10px;

}
.link{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}
.card {
    width: 250px;
   padding: 50px 0px;
    margin: 10px;
    border-radius: 20px;
   
    box-shadow: 5px 5px 10px #383232;
              
  height: 100px;
}

  .card img{
    width: 64px;
  }

  /* mobile device viewers */
  @media only screen and(max-width: 767px) {
    .card{
       width: calc(100% - 20px);
    }
  }
  /* tablets viewer */
 

  /*  laptop and large screen viwer*/
  @media only screen and (min-width: 1024px){
    .card{
        width: calc(50%-20px);
       
    }
    
  } 
    
  