.cards {
    display: grid;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
  }
  @media (max-width:950px) {
    .cards{
      grid-template-columns: 1fr 1fr ;
    }
    
  }
  @media (max-width:650px) {
    .cards{
      grid-template-columns: 1fr  ;
    }
    
  }
  
  .cards .red {
    background-color: #fa536f;
    text-decoration: none;
    transition: ease-in 2s;
  }
  .cards .red:hover{
    background-color: #ff002b;
    text-decoration: none;
   
  }
 img{
    width: 90px;
  }
  
  
  .cards .blue {
    background-color: #722966;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .cards .blue:hover{
    background-color: #be009c;
  }
  
  .cards .green {
    background-color: #22c55e;
  }
  .cards .green:hover{
    background-color: #00732a;
  }
  .cards .yellow{
    background-color: rgb(198, 198, 45);
  }
  .cards .yellow:hover{
    background-color: rgb(222, 222, 0);
  }

  .cards .pink{
    background-color: rgb(49, 44, 38);
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .cards .pink:hover{
    background-color: rgb(78, 77, 75);
  }
  
  .cards .syan {
    background-color: rgb(13, 75, 54);
    flex-direction: column;
    flex-wrap: nowrap;
 
  }
  .cards .syan:hover {
    background-color: #399059;
  }
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  /* .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  } */
  /* .logoyt{
    
  } */
  .cards .card p{
    text-decoration: none;
  }
  .cards .card p.second-text {
    font-size: 1em;
    font-weight: 1000;
    margin: 20px;
    text-decoration: none;

  }
  
   .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

  .yr{
    display: flex;
    justify-content: center;
  }

/* mobile user */
@media only screen and(max-width: 767px){
    .cards{
        width: calc(100% - 20px);
    }
}
/* laptop views */
@media only screen and(max-width: 1024px) {
    .cards{
        width: calc(50% -20px);
    }
}