.content{
    padding: 50px;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 15px;
    height: 50vh;
    margin-bottom: 100px;
  }
  .book {
     flex: nowrap;
     flex-direction: column;
      position: relative;
      border-radius: 10px;
      width: 220px;
      height: 300px;
      background-color: #facfae;
      -webkit-box-shadow: 1px 1px 12px #000;
      box-shadow: 1px 1px 12px #0b0b0b;
      -webkit-transform: preserve-3d;
      -ms-transform: preserve-3d;
      transform: preserve-3d;
      -webkit-perspective: 2000px;
      perspective: 2000px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #050303;
      margin: 8px;
    
    }
    
    .cover {
      top: 0;
      position: absolute;
     background: url('../../assets/0ea60e02e5dbad89e04710fab40d7b21.jpg');
     background-size: contain;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
      transform-origin: 0;
      -webkit-box-shadow: 1px 1px 12px #000;
      box-shadow: 1px 1px 12px #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    
    .book:hover .cover {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: rotatey(-80deg);
      -ms-transform: rotatey(-80deg);
      transform: rotatey(-80deg);
    }
    
    p {
      font-size: 30px;
      text-align: center;
      font-weight: bolder;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 10px;
    }
  
    .book button{
      margin-top: 10px;
        flex: nowrap;
        flex-direction: column;
         position: relative;
      display: inline-block;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      z-index: 1;
      color: #ffffff;
      padding: 0.4em 1.6em;
      cursor: pointer;
      font-size: 18px;
      border-radius: 0.5em;
      background: #69340296;
      border: 2px solid #642d06;
    
    }
    
    .book button:active {
      color: #666;
    
    }
    
     .book button:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scaleY(1) scaleX(1.25);
      top: 100%;
      width: 140%;
      height: 180%;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    } 
    
    .book button:after {
      content: "";
      position: absolute;
      left: 55%;
      transform: translateX(-50%) scaleY(1) scaleX(1.45);
      top: 180%;
      width: 160%;
      height: 190%;
      background-color: #844407;
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    }
    
    .book button:hover {
      color: #ffffff;
      border: 1px solid #844407;
    }
    
    .book button:hover:before {
      top: -35%;
      background-color: #844407;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    
    .book button:hover:after {
      top: -45%;
      background-color: #844407;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    .content .book img{
      width: 155px;
      height: 220px;
      margin: 10px 0px;
      
      /* padding: 10px 0px; */
      border-radius: 13px;
      /* border-radius: 10px; */
      border: 1px solid #eccaa3;
      box-shadow: 3px 3px 7px #814603;
    }