.footer {

  bottom: 0;
  width: 100%;
  background-color: lavender;
  box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        inset 0px 0px 0px 0px #0001;
   transition:box-shadow 0.6s cubic-bezier(.79,.21,.06,.81);
}

.footer-content {
  padding: 1rem;
}
.active .footer-content{
  background-color:#000016 !important ;
}

.footer-text {
  font-size: 10px;
}

.footer-flex-container {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 560px) {
  .footer-flex-container {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }

  .footer-icons .icon {
    cursor: pointer;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem !important;
    height: 2rem !important;
  }

  .footer-text {
    font-size: 2rem !important;
  }

  .footer-item.footer-copyright {
    font-size: 1.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icons {
    gap: 1rem !important;
  }
}

.footer-item {
  text-align: left;
}

.footer-item.footer-copyright {
  text-align: left;
  font-weight: 600;
  color: black;
  font-size: 1rem;
}

.footer-item .footer-text {
  font-size: 1rem; 
  font-weight: 600;
  color: black;
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  .footer-item.footer-copyright {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-icons {
    gap: 1rem !important;
  }
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-icons .icon {
  cursor: pointer;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.footer-icons .icon:last-child {
  margin-right: 0;
}