.lecturetrd h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: rgb(42, 36, 36);
    position: relative;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 0px;
  }
  
  .container::before,
  .container::after {
    content: "";
    background-color: #fab5704c;
    position: absolute;
  }
  
  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container .box {
    padding: 10px;
    width: 17.875em;
    height: 17.875em;
    padding: 1rem;
    align-items: center;
    background-color: rgb(91 74 104 / 30%);
    border: 1px solid rgba(244, 252, 34, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 10px black;
    border-radius: 2.7rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .box:hover {
     scale: 1.02;
     background-color: rgb(192 143 230 / 67%);
     box-shadow: 5px 5px 10px rgb(0, 0, 0);
  }
  
  
 .container .box .upper img{
    width: 285px;
    height: 150px;
    border-radius: 1rem;
    border:1px solid #1f2021
  }
  .upper span{
    font-size: 1rem;
  }

 /* .container .box button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    cursor: pointer;
    color: #fff;
  } */

 .container .box a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: rgb(161, 211, 245);
    color: black;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: 400ms;
    cursor: pointer;
   
 }
  .container .box a:hover{
    background-color: #007ACC;
    color: #fff;
  }

  

  