html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  padding-bottom: 50px;


}

.container-pyq {
  text-align: center;
  margin: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  /* box-shadow: 2px 2px 20px #00000030; */
  align-items: center;
}
/* .active .container-pyq{
    background-color: #000016 ;
    border: solid 1px white;
    box-shadow: 0px 0px 15px lightblue;
} */
.active .subject-box {
  background-color: #000016;
  border: solid 1px white;
  box-shadow: 0px 0px 15px lightblue;
}
.year-heading {
  font-size: 24px;
  margin-bottom: 20px;
}
.active .back-btn:hover {
  background-color: #1e1d1d !important;
}

.semester-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.semester-card {
  padding: 20px;
  font-size: 26px;
  cursor: pointer;
  background-color: #4c59af;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.semester-card:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}

.file-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  flex-direction: column;
  margin-bottom: 10px;
}

.file-divider {
  width: 80%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.subject-title-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon {
  font-size: 24px;
  color: #008cba;
}

.icon-container:hover .icon {
  color: #093386;
}

.icon-container:hover .icon-label {
  color: #007bb5;
}

.icon-label {
  font-size: 12px;
  color: #008cba;
}

.back-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(65, 62, 62);
  color: white;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-btn:hover {
  background-color: #e53935;
}

.back-icon {
  margin-right: 5px;
}

.pyq-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subjects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 3em 0em;
  width: 100%;
}

.subject-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  transition: transform 0.3s ease;

  gap: 20px;
  width: 400px;
  height: 100px;

  align-items: center;

  text-align: center;
}

.subject-box:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.319);
}

.subject-title {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 980px) {
  .subject-box {
    width: 300px;
  }
}
@media (max-width: 850px) {
  .back-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .semester-selection {
    flex-direction: column;
    align-items: center;
  }

  .semester-card {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer {

  margin-top: fixed;
  position: fixed;
  z-index:100;

  position: relative;

  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e2e0e0;
  text-align: center;
  padding: 0;
}
